<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <a th:href="@{/create}" class="btn btn-warning">Create</a>
  <h2>Show Blog</h2>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Author</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b,loop:${list}">
      <td th:text="${b.id}"></td>
      <td th:text="${b.name}"></td>
      <td><a th:href="@{/show/{index}(index = ${loop.index})}" class="btn btn-warning">Show</a></td>
      <td><a th:href="@{/edit/{index}(index = ${loop.index})}" class="btn btn-warning">Edit</a></td>
      <td><a th:href="@{/delete/{index}(index = ${loop.index})}" class="btn btn-danger">Delete</a></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
